@model SxExtantions.SxPagedCollection<VMSiteService>

@{
    ViewBag.Title = ViewBag.Title ?? "Услуги";
    VMSiteService item = null;
}

@section slider{
    <div class="block-header">
        <h2 class="block-header__title">
            <span>Наши услуги</span>
            <span class="block-header__subtitle">Страница @Model.PagerInfo.Page</span>
        </h2>
    </div>
}

<div class="services-page page">
    <h1 class="page__header">@ViewBag.Title</h1>

    @if (Model.Collection.Any())
    {
        <ul class="list list-unstyled">
            @for (int i = 0; i < Model.Collection.Length; i++)
            {
                item = Model.Collection[i];
                <li>
                    <div class="service-item">
                        <a class="service-item__link" href="@Url.Action("Details", "SiteServices", new { titleUrl = item.TitleUrl })"></a>
                        <div class="service-item__title">
                            <h2>
                                <span class="service-item__icon"><i class="@item.MainPageIconCssClass" aria-hidden="true"></i></span>@item.Title
                            </h2>
                        </div>
                        <div class="service-item__fwd">
                            @item.Foreword
                        </div>
                    </div>
                </li>
            }
        </ul>

        @Html.SxPager(Model.PagerInfo, x => Url.Action("List", "SiteServices", new { page = x }), false, new { @class= "page-pagination" })
    }
</div>