@section styles{
    <style>
        .col-zero{
            width:150px !important;
        }
    </style>
    }

<h2>Рассылка</h2>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#types" aria-controls="types" role="tab" data-toggle="tab"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Типы материалов</a></li>
    <li role="presentation" class="disabled"><a href="#materials-tab" aria-controls="materials-tab" role="tab"><i class="fa fa-list" aria-hidden="true"></i> Список материалов</a></li>
    <li role="presentation" class="disabled"><a href="#templates-tab" aria-controls="templates-tab" role="tab"><i class="fa fa-id-card-o" aria-hidden="true"></i> Список шаблонов</a></li>
    <li role="presentation" class="disabled"><a href="#delivery" aria-controls="delivery" role="tab"><i class="fa fa-paper-plane" aria-hidden="true"></i> Разослать</a></li>
</ul>
<br />
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="types">
        <h4>Выберите типы материалов для рассылки</h4>
        @Html.Partial("_MaterialTypes")
    </div>
    <div role="tabpanel" class="tab-pane" id="materials-tab">
        <h4>Выберите материалы для рассылки</h4>
        <div class="alert alert-warning">
            <b>Внимание!</b> Выделение строк в гридах происходит постранично.
        </div>
        <div id="materials"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="templates-tab">
        <h4>Выберите список шаблонов для рассылки</h4>
        <div class="alert alert-warning">
            <b>Внимание!</b> Выделение строк в гридах происходит постранично.
        </div>
        <div id="templates"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="delivery">
        <h4>Выберите получателей рассылки из подписчиков</h4>
        <div class="alert alert-warning">
            <b>Внимание!</b> Выделение строк в гридах происходит постранично.
        </div>
        <div id="subscribers"></div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-delivery">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Результаты отправки</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Admin/scripts/sxdelivery.js"></script>
    <script>
        $(function () {
            var delivery = new SxDelivery('@Url.Action("Materials", "Delivery")', '@Url.Action("Templates", "Delivery")', '@Url.Action("Subscribers", "Delivery")', '@Url.Action("Send", "Delivery")');
            delivery.initialize();
        });
    </script>
}