@model VMSiteProject

@{
    ViewBag.Title = ViewBag.Title ?? Model.Title + " | Проекты";
}

@section slider{
    <div class="block-header">
        <h2 class="block-header__title">
            <span>Наши проекты</span>
            <span class="block-header__subtitle">Подробнее</span>
        </h2>
    </div>
}

<div class="project-page page">

    @Html.SxBreadcrumbs(Breadcrumbs)

    <h1 class="project__name page__header">@Model.Title</h1>
    
    <div class="project__image" style="background-image:url('@Url.Action("Picture", "Pictures", new { id=Model.FrontPictureId})')"></div>
    
    <div class="project__link">
        <a href="@Model.SourceUrl">@Model.SourceUrl</a>
    </div>
    
    <div class="project__desc">
        @Html.Raw(Model.Html)
    </div>

</div>