@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="@ViewBag.Lanquage">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("head", false)
    <title>@(ViewBag.Title == null ? MvcApplication.DefaultSiteName : ViewBag.Title + " | " + MvcApplication.DefaultSiteName)</title>

    <link href="~/content/dist/css/site.min.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="wrapper">
        <div class="slider">
            <div class="slider__box">
                <header>
                    <div class="logo">
                        <a href="@Url.Action("Index", "Home")">
                            <span class="logo__before">goldfish</span>
                            <span class="logo__after">.pro</span>
                        </a>
                    </div>
                    <nav>
                        <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                    </nav>
                </header>
                <div class="slider__content">
                    <div class="slider__item">
                        <div class="row">
                            <div class="col-md-6">
                                <div style="text-align:center">
                                    <img src="/content/dist/temp/iphone.png" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div style="text-align:left">
                                    <h4 style="text-transform:uppercase;">Get your app now</h4>
                                    <span>Maecenas mauris libero tincidunt blandit sagittis eget</span>
                                    <ul style="list-style:none; padding: 0; margin-top:60px;">
                                        <li style="margin-bottom:45px;">
                                            <span class="fa fa-check icon" style="border-radius: 100%; border: 1px solid rgb(255, 255, 255); padding: 15px;float: left; margin-right: 20px;"></span>
                                            <h4 style="text-transform:uppercase;">Sociosqu ad litora torquent augue</h4>
                                            <span>Proin vulputate est libero pretium</span>
                                        </li>
                                        <li style="margin-bottom:45px;">
                                            <span class="fa fa-check icon" style="border-radius: 100%; border: 1px solid rgb(255, 255, 255); padding: 15px;float: left; margin-right: 20px;"></span>
                                            <h4 style="text-transform:uppercase;">Sociosqu ad litora torquent augue</h4>
                                            <span>Proin vulputate est libero pretium</span>
                                        </li>
                                        <li style="margin-bottom:45px;">
                                            <span class="fa fa-check icon" style="border-radius: 100%; border: 1px solid rgb(255, 255, 255); padding: 15px;float: left; margin-right: 20px;"></span>
                                            <h4 style="text-transform:uppercase;">Sociosqu ad litora torquent augue</h4>
                                            <span>Proin vulputate est libero pretium</span>
                                        </li>
                                        <li style="margin-bottom:45px;">
                                            <span class="fa fa-check icon" style="border-radius: 100%; border: 1px solid rgb(255, 255, 255); padding: 15px;float: left; margin-right: 20px;"></span>
                                            <h4 style="text-transform:uppercase;">Sociosqu ad litora torquent augue</h4>
                                            <span>Proin vulputate est libero pretium</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>

    <script src="~/content/dist/js/site.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
