@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="@ViewBag.Lanquage">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("head", false)
    <title>@(ViewBag.Title == null ? MvcApplication.DefaultSiteName : ViewBag.Title + " | " + MvcApplication.DefaultSiteName)</title>

    <link href="~/content/dist/css/site.min.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="wrapper">
        @RenderBody()
    </div>

    <script src="~/content/dist/js/site.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
