@{
    var isAuth = User.Identity.IsAuthenticated;
}

<div id="navbar">
    <div class="gf-navbar-wrapper">
        <div class="gf-navbar">
            <div class="gf-navbar__close-btn"><i class="fa fa-times"></i></div>
            <ul class="gf-menu" id="gf-menu">
                <li>
                    <a href="#s-menu-1" data-toggle="collapse"><i class="fa fa-bars" aria-hidden="true"></i> Сайт</a>
                    <ul class="collapse in" id="s-menu-1">
                        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-bars" aria-hidden="true"></i> Главная</a></li>
                        @if (!isAuth)
                        {
                            <li><a href="@Url.Action("Login", "Account")"><i class="fa fa-bars" aria-hidden="true"></i> Вход в аккаунт</a></li>
                        }
                        <li><a href="@Url.Action("Register", "Account")"><i class="fa fa-bars" aria-hidden="true"></i> Регистрация</a></li>
                        @if (isAuth)
                        {
                            <li><a href="@Url.Action("Index", "Home", new { area="admin"})"><i class="fa fa-bars" aria-hidden="true"></i> Управление</a></li>
                        }
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("List", "SiteServices")"><i class="fa fa-bars" aria-hidden="true"></i> Услуги</a>
                </li>
                <li>
                    <a href="@Url.Action("List", "SiteProjects")"><i class="fa fa-bars" aria-hidden="true"></i> Проекты</a>
                </li>
                <li>
                    <a href="#s-menu-2" data-toggle="collapse"><i class="fa fa-bars" aria-hidden="true"></i> Материалы</a>
                    <ul class="collapse" id="s-menu-2">
                        <li><a href="#"><i class="fa fa-bars" aria-hidden="true"></i> Услуги</a></li>
                        <li><a href="#"><i class="fa fa-bars" aria-hidden="true"></i> Проекты</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
