@model SxVMEmployee[]
@{
    SxVMEmployee item = null;
    var descLettersCount = 120;
    var title = SX.WebCore.MvcApplication.SxMvcApplication.SiteSettingsProvider["home-page-team-title"]?.Value;
}

@if (Model.Any())
{
    <div class="block-header">
        <h2 class="block-header__title">
            <span>Наша команда</span>
            <span class="block-header__subtitle">@title</span>
        </h2>
    </div>

    <div class="employees">
        <div class="row">
            @for (int i = 0; i < Model.Length; i++)
            {
                item = Model[i];
                <div class="col-md-3 col-sm-6">
                    <div class="employee__item">
                        <a href="@Url.Action("Details", "Employees", new { nikname=item.NikName })" class="employee__link"></a>
                        @if (item.AvatarId.HasValue)
                        {
                            <span class="employee__avatar" style="background-image:url('@Url.Action("Picture", "Pictures", new { id=item.AvatarId })')"></span>
                        }
                        <div class="employee__title">@item.Name @item.Surname</div>
                        <div class="employee__post">@item.Post</div>
                        <div class="employee__desc">
                            @(item.Description == null || item.Description.Length <= descLettersCount ? item.Description : item.Description.Substring(0, descLettersCount) + "...")
                        </div>
                        <ul class="employee__icons">
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
}

