@model SxVMEmployee
@{
    ViewBag.Title = ViewBag.Title ?? Model.NikName + " | Сотрудники сайта ";
}

@section slider{
    <div class="block-header">
        <h2 class="block-header__title">
            <span>Сотрудники сайта</span>
            <span class="block-header__subtitle">Подробнее</span>
        </h2>
    </div>
}

<div class="employee-page page">

    @Html.SxBreadcrumbs(Breadcrumbs)

    <div class="employee" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="worksfor" content="@(SiteSettingsProvider["sitename"]?.Value ?? SX.WebCore.MvcApplication.SxMvcApplication.DefaultSiteName)" />
        <h1 class="employee__name page__header" itemprop="name">@Model.Name @Model.Surname</h1>
        <div class="employee__nikname" itemprop="additionalName">@Model.NikName</div>
        <h2></h2>
        @if (Model.AvatarId.HasValue)
        {
            <img itemprop="image" class="employee__avatar" alt="@Model.NikName" src="@Url.Action("Picture", "Pictures", new { id = Model.AvatarId })" />
        }
        <div itemprop="jobTitle" class="employee__post">@Model.Post</div>
        <p class="employee__desc html">
            @Model.Description
        </p>

        @Html.Partial("_Contacts", Model.User.Contacts)

    </div>
</div>



