@{
    var picIdSetting = SiteSettingsProvider["home-page-about-us-pic-id"];
}
<div class="home-about">
    <div class="block-header">
        <h2 class="block-header__title">
            <span>@MvcApplication.DefaultSiteName</span>
            <span class="block-header__subtitle">@(SiteSettingsProvider["home-page-about-us-title"]?.Value)</span>
        </h2>
    </div>
    <p class="txt" style="max-width:70%; margin:0 auto; text-align:center; padding-bottom:60px;">
        @(SiteSettingsProvider["home-page-about-us-desc"]?.Value)
    </p>
    <div class="btn-box">
        <a class="btn" href="@Url.Action("AboutUs", "Home")">Подробнее о нас</a>
    </div>

    @if (picIdSetting != null)
    {
        <div class="text-center">
            <img alt="@MvcApplication.DefaultSiteName" style="max-width:100%;" src="@Url.Action("Picture", "Pictures", new { id=picIdSetting.Value})" />
        </div>
    }
</div>
