@model SxVMManual
@{
    ViewBag.Title = ViewBag.Title ?? Model.Title;
    ViewBag.Description = ViewBag.Description ?? Model.Foreword;
    ViewBag.Keywords = ViewBag.Keywords ?? Model.SeoTags?.KeywordsString;
    var breadcrumbs = (SxVMBreadcrumb[])ViewBag.Breadcrumbs;
}

@section styles{
    <link rel="stylesheet" href="@Url.Action("Css", "StaticContent", new { name="prettify", area=""})" />
}

@section slider{
    <div class="block-header">
        <h2 class="block-header__title">
            <span>@(Model.Title)</span>
            <span class="block-header__subtitle">Подробнее</span>
        </h2>
    </div>
}

<div class="page page-manual">

    @Html.SxBreadcrumbs(breadcrumbs)

    <div class="row">
        <div class="col-md-9">
            <h1 class="page__header">@Model.Title</h1>

            @if (!string.IsNullOrEmpty(Model.Foreword))
            {
                <div class="manual__fwd">
                    @Model.Foreword
                </div>
            }

            <div class="material-info">
                <ul>
                    <li>Просмотров: @Model.ViewsCount</li>
                    <li>Комментов: @Model.CommentsCount</li>
                    <li>Лайков: @Model.LikeUpCount</li>
                    <li>Дизлайков: @Model.LikeDownCount</li>
                </ul>
            </div>

            <div class="manual__html html">
                @Html.Raw(Model.Html)
            </div>
        </div>
        <div class="col-md-3">
            @Html.Partial("_BoxTagsCloud", new ViewDataDictionary { { "Tags", Model.MaterialTags }, { "ActionName", "List" }, { "ControllerName", "Manuals" } })

            @Html.Partial("_BoxShareButtons")

            @Html.Partial("_BoxSimilarMaterials", Model, new ViewDataDictionary { { "ControllerName", "Manuals" }, { "Amount", 10 }, { "BoxHeader", "Похожие руководства" } })

            @Html.Partial("_BoxLastMaterials", Model, new ViewDataDictionary { { "ControllerName", "Manuals" }, { "Amount", 10 }, { "BoxHeader", "Последние руководства" } })
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Action("Js", "StaticContent", new { name="prettify", area=""})"></script>
    <script src="~/scripts/sxshare.js"></script>
    <script>
        $(function () {
            prettyPrint();
        });
    </script>
}