@model SxExtantions.SxPagedCollection<VMManual>
@{
    ViewBag.Title = ViewBag.Title ?? "Руководства";
    var breadcrumbs = (SxVMBreadcrumb[])ViewBag.Breadcrumbs;
}

@section slider{
    <div class="block-header">
        <h1 class="block-header__title">
            <span>@(ViewBag.H1 ?? ViewBag.Title)</span>
            <span class="block-header__subtitle">Страница @(Model.PagerInfo.Page)</span>
        </h1>
    </div>
}

<div class="page page-manuals">

    @Html.SxBreadcrumbs(breadcrumbs)

    <div class="row">
        <div class="col-md-9">
            @if (Model.Collection.Any())
            {
                SxVMManual item = null;
                <div class="manuals__list">
                    @for (int i = 0; i < Model.Collection.Length; i++)
                    {
                        item = Model.Collection[i];
                        <div class="manuals__item">
                            <h2 class="manuals__title">@item.Title</h2>

                            <div class="manuals__category">
                                Категория: <a href="@Url.Action("List", "Manuals", new { cat=item.CategoryId})">@item.Category.Title</a>
                            </div>

                            <div class="manuals__author">
                                Автор: <a href="@Url.Action("List", "Manuals", new { auth=item.User.NikName})">@item.User.NikName</a>
                            </div>

                            <div class="manuals__fwd">
                                @(item.Foreword ?? item.GetForewordFromHtml(600))
                            </div>

                            <div class="manuals__footer">
                                <a href="@item.GetUrl(Url)" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>