<li>
    <a href="@Url.Action("Index", "Home", new { area=""})"><i class="fa fa-home fa-fw"></i> На сайт</a>
</li>
@if (User.IsInRole("admin"))
{
    <li>
        <a href="javascript:void(0)"><i class="fa fa-fw fa-user"></i> Менеджер пользователей<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="@Url.Action("Index", "UserRoles")"><i class="fa fa-fw fa-street-view"></i> Роли</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Users")"><i class="fa fa-fw fa-user"></i> Пользователи</a>
            </li>
            @*<li>
                    <a href="@Url.Action("index", new { controller= "employees" })"><i class="fa fa-fw fa-male"></i> Сотрудники</a>
                </li>*@
        </ul>
    </li>
}
@if (User.IsInRole("admin"))
{
    <li>
        <a href="javascript:void(0)"><i class="fa fa-history fa-fw"></i> Статистика<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="@Url.Action("Index", "Requests")">Статистика запросов</a>
            </li>
            <li>
                <a href="@Url.Action("UserLogins", "Statistics")">Статистика входов</a>
            </li>
        </ul>
    </li>
}
@if (User.IsInRole("photo-redactor") || User.IsInRole("video-redactor"))
{
    <li>
        <a href="javascript:void(0)"><i class="fa fa-crop fa-fw"></i> Мультимедиа<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            @if (User.IsInRole("photo-redactor"))
                {
                <li>
                    <a href="@Url.Action("Index", "Pictures")"><i class="fa fa-image fa-fw"></i> Фото-контент</a>
                </li>
            }
            @if (User.IsInRole("video-redactor"))
                {
                <li>
                    <a href="@Url.Action("Index", "Videos")"><i class="fa fa-youtube fa-fw"></i> Видео сайта</a>
                </li>
            }
        </ul>
    </li>
}
@if (User.IsInRole("smm"))
{
    <li>
        <a href="javascript:void(0)"><i class="fa fa-globe fa-fw"></i> Соцсети<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="@Url.Action("Index", "Nets")"> Поддерживаемы сети</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "SiteNets")"> Сети сайта</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "ShareButtons")"> Кнопки шар</a>
            </li>
        </ul>
    </li>
}
@if (User.IsInRole("author-article") || User.IsInRole("author-news") || User.IsInRole("admin"))
{
    <li>
        <a href="#"><i class="fa fa-archive fa-fw"></i> Материалы<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            @if (User.IsInRole("author-article"))
                {
                <li>
                    <a href="#"><i class="fa fa-book"></i> Статьи <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li>
                            <a href="@Url.Action("Index", new { controller = "Articles" })">Каталог статей</a>
                        </li>
                        @if (User.IsInRole("admin"))
                        {
                            <li>
                                <a href="@Url.Action("Index", "MaterialCategories", new { mct = SX.WebCore.Enums.ModelCoreType.Article })">Категории статей</a>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </li>
}
@if (User.IsInRole("seo"))
{
    <li>
        <a href="#"><i class="fa fa-cog fa-fw"></i> Seo оптимизация<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="@Url.Action("Index", new { controller= "SeoTags" })"><i class="fa fa-cogs"></i> Метатеги</a>
            </li>
            <li>
                <a href="@Url.Action("Index", new { controller= "Redirects" })"><i class="fa fa-arrow-right"></i> 301 редирект</a>
            </li>
            <li>
                <a href="@Url.Action("EditRobotsFile", new { controller= "Seo" })"><i class="fa fa-ship"></i> robot.txt</a>
            </li>
            <li>
                <a href="@Url.Action("Index", new { controller= "BannedUrls" })"><i class="fa fa-ban"></i> Забаненные адреса</a>
            </li>
        </ul>
    </li>
}
@if (User.IsInRole("admin"))
{
    <li>
        <a href="#"><i class="fa fa-cube fa-fw"></i> Монетизация<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="@Url.Action("Index", "Banners")"> Список баннеров</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "BannerGroups")"> Группы баннеров</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "AffiliateLinks")"> Партнерские ссылки</a>
            </li>
        </ul>
    </li>
}
@if (User.IsInRole("admin"))
{
    <li>
        <a href="#"><i class="fa fa-wrench fa-fw"></i> Настройки<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="@Url.Action("EditSite", "SiteSettings")">Настройки сайта</a>
            </li>
            @if (User.IsInRole("architect"))
                {
                <li>
                    <a href="@Url.Action("GetLog", "Logs")"> Скачать лог</a>
                </li>
            }
        </ul>
    </li>
}
@if (User.IsInRole("admin"))
{
    <li>
        <a href="@Url.Action("Index", "Valutes")"><i class="fa fa-rub fa-fw"></i> Курсы валют ЦБ РФ</a>
    </li>
}
<li>
    <a href="#"><i class="fa fa-tasks fa-fw"></i> FAQ<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="@Url.Action("Index", "FAQ")">Справка</a>
        </li>
        @if (User.IsInRole("architect"))
            {
            <li>
                <a href="@Url.Action("Index", "MaterialCategories", new { mct=SX.WebCore.Enums.ModelCoreType.Manual})">Справочные категории</a>
            </li>
                <li>
                    <a href="@Url.Action("Index", "Manuals")">Справочные материалы</a>
                </li>
        }
        <li>
            <a href="@Url.Action("ReleaseNotes", "SiteSettings")">История выпусков</a>
        </li>
    </ul>
</li>

